.list{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.349);
    text-align: center;
}

.Top10{
    padding: 30px;
    border-radius: 25px;
border: 2px solid rgba(77, 77, 77, 0.253);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}